*{
	margin:0px;
	padding:0px;
}
body{
	
}
p{
	font-size: 1.3em;
}
button{
	width: 100px;
	height: 40px;
	border: 1px #D9D9D9 solid;
	border-radius: 10px; 
	text-align: center;
	background-color: black;
	outline:none;
	color:white;
	margin-left:10px;
	margin-right:10px;
}
button:hover{
	transition-duration: 0.3s;
	background:white;
	color:black;
}
button:active{
	transition-duration: 0.3s;
	background:white;
	color:black;
}
button a{
	line-height:40px;	
	color:white;
}
button a:link{
	text-decoration: none;
	color:black;
}
button a:hover{
	color:black;
	text-decoration: none;
}
button a:active{
	color:black;
	text-decoration: none;	
}

input:hover,button:hover{
	transition-duration: 0.3s;
	background:white;
	color:black;
}
input:active,button:active{
	transition-duration: 0.3s;
	background:white;
	color:black;
}
input a,button a{
	line-height:40px;	
	color:white;
}
input a:link,button a:link{
	text-decoration: none;
	color:black;
}
input a:hover,button a:hover{
	color:black;
	text-decoration: none;
}
input a:active,button a:active{
	color:black;
	text-decoration: none;	
}
.top{
	text-align: center;
}
.top button{
	margin:0px;
	margin-top:20px;
}
.exportTableBox{
	border-collapse: collapse;
	text-align: center;
	border:1px solid #232323;
	width:90%;
	margin:auto;
}
.exportTableBox tbody{
	height:300px;
	overflow: auto;
}
.exportTableBox tr:hover{
	background:#d3d3d3;
}
.exportTableBox tr{
	background:white;
	height:35px;
}
.21{
	cursor:hand;
	cursor:pointer;
}
.choice{

}
.timeFindBox{
			text-align: center;
			margin-top:10px;
			margin-bottom:20px;
}
		.sb{
			margin-top:20px;
			width: 100px;
			height: 40px;
			border: 1px #D9D9D9 solid;
			border-radius: 10px; 
			text-align: center;
			background-color: black;
			color:white;
			outline:none;
			margin-left:10px;
			font-size:1.0em;
			transition-duration: 0.3s;
			cursor: pointer;
		}
		.sb:hover{
			transition-duration: 0.3s;
			background:white;
			color:black;
		}
		
		.demo-input{
			width:459px;
			height:37px;
			text-align: center;
			font-size:22px;
		}
